*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color:#008374;
    color: white;
    position: static;
}
nav{
    position: sticky;
    top: 0;
}

.logo img{
    display: block;
    position: absolute;
    top: 10px;
    height: 50px;

}

.navb{
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    height: 80px;
    position: relative;
    z-index: 2;
    background-color: #008374;
    margin-bottom: 50px;
    
}
.pages{
    display: flex;
    justify-content: space-evenly;
    position: relative;
}


p{
    margin: 10px 40px;
    text-align: justify;

}

#drop{
    width: 30px;
    height: 30px;
    border: 0;
    background-color: black;
    position: fixed;
    bottom: 20px;
    right: 10px;
    border-radius: 50%;
}
